<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        {% include "bookstore/topbar.html" %}
        <hr>
        <div class="row justify-content-end">
            <p style="color: green; text-align: right;">Note: You can't change quantities from this page. You'll need to go to the page for that book and change the quantity there. Sorry. :(</p>
        </div>
        <div class="row" id="main_row">
            <!--{% if cartData %}-->
            <div class="col-8 order_info" id="order_info_div">
                <!--{% for isbn in cartData %}-->
                    <!--<h3>{{ cartData }}</h3>-->
                    <!--<div class="row" id="{{isbn}}_outer">-->
                        <!--<div class="col-12 need_flex">-->
                            <!--<div class="col-4">-->
                                <!--<img src="http://www.placepuppy.net/1p/300/250" id="img_{{isbn}}">-->
                            <!--</div>-->
                            <!--<div class="col-6">-->
                                <!--<h3 id="title_{{isbn}}"></h3>-->
                                <!--<div id="price_{{isbn}}">-->
                                    <!--<input>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--{% endfor %}-->
            </div>
            <div class="col-4 billing_info" id="billing_info_id">
                <div class="col" id="payment_info_wrapper">
                    <h3>So, payment...</h3>
                    <div id="payment_info_div">
                        <div class="col" id="total_amt_div">

                        </div>
                        <div class="col" id="pay_form">
                            <form id="pay_button" method="post" action="/bookstore/payment">
                                {% csrf_token %}
                                <input type="hidden" id="total_payable" name="total_payable">
                                <input type="submit" value="Pay">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3 style="text-decoration: underline;">Billing information</h3>
                    <p>Name: Srikanth</p>
                    <p>Email: ksr@something.com</p>
                    <p>
                        Billing Address:<br>Line one, Line two, Line three, Line four<br>
                        Street Name, City Name, State - PIN.
                    </p>
                </div>
            </div>
            <!--{% else %}-->
            <!--<div class="col-12">-->
                <!--<h3>Your cart is empty.</h3>-->
            <!--</div>-->
            <!--{% endif %}-->
        </div>
    </div>
<script>
    var jsonString = "{{ jsonString }}"
    var cartDataStr = "{{ cartData }}"
</script>
<script src="{% static 'bookstore/cart.js' %}"></script>
</body>
</html>