<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books, Books, Books!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>-->
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center main_box">
            <h1 class="title_text">Welcome to the Country of Books</h1>
        </div>
        <br>
        <div class="row justify-content-center books_box">

        </div>
    </div>
    <script>
        /* var jsonFile = "{% static 'bookstore/books.json' %}" */
        var jsonString = "{{ jsonString }}"
    </script>
    <!--<script src="{% static 'bookstore/app.js' %}"></script>-->
    <!--<script src="{% static 'bookstore/appNoJSON.js' %}"></script>-->
    <script src="{% static 'bookstore/app_json_from_py.js' %}"></script>
</body>
</html>