<div class="row justify-content-center main_box">
    <div class="col-1 home_button_div img-fluid">
        <a href="{% url 'bookstore:index' %}">
            <!--<img src="http://www.placepuppy.net/1p/100/100" id="home_img">-->
            <button id="home_button">Home</button>
        </a>
    </div>
    <div class="col-9 title_div">
        <h1 class="title_text">Welcome to the Country of Books</h1>
    </div>
    <div class="col-1 orders_button_div">
        <a href="{% url 'bookstore:orderhistory' %}">
            <!--<img src="http://www.placepuppy.net/1p/100/100" id="cart_img">-->
            <button id="orders_button">Your orders</button>
        </a>
    </div>
    <div class="col-1 cart_button_div">
        <a href="{% url 'bookstore:cart' %}">
            <!--<img src="http://www.placepuppy.net/1p/100/100" id="cart_img">-->
            <button id="cart_button">Your cart</button>
        </a>
    </div>
</div>