<div class="row justify-content-center main_box">
    <div class="col home_div img-fluid">
        <a href="{% url 'bookstore:index' %}">
            <img src="http://www.placepuppy.net/1p/100/100" id="home_img">
        </a>
    </div>
    <div class="col-9 title_div">
        <h1 class="title_text">Welcome to the Country of Books</h1>
    </div>
    <div class="col cart_div">
        <a href="{% url 'bookstore:cart' %}">
            <img src="http://www.placepuppy.net/1p/100/100" id="cart_img">
        </a>
    </div>
</div>