<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Viewsus Bookum!</title>-->
    <!--{% load static %}-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'bookstore/style.css' %}">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--</head>-->
{% include "bookstore/head.html" %}
<body>
    <div class="container">
        {% include "bookstore/topbar.html" %}
        <hr>
        <div class="row book_image_div">

            <div class="col-8">
                <div class="row book_title_div">
                    <div class="col-2 offset-1">
                        <img id="book_image" src="http://www.placepuppy.net/1p/600/450" alt="Front Cover of book titled ">
                    </div>
                    <div class="col-6 offset-1">
                        <h1 id="book_title">Title here</h1>
                    </div>
                </div>

                <hr>

                <div class="row need_flex" id="author_price">
                    <div class="col align-self-start text-center" id="author_div">
                        <p id="authors">Author(s): </p>
                    </div>
                    <div class="col align-self-end text-center" id="price_div">

                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <p id="description">Description here</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="col" id="amount_div">
                            <p>Total amount here.</p>
                        </div>
                        <div class="col">
                            <form method="post" action="{% url 'bookstore:addToCart' %}" id="select_qty">
                                {% csrf_token %}
                                <label for="quantity_dropdown">Quantity: </label>
                                <select name="quantity" id="quantity_dropdown">
                                    <option value="1" selected="selected">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <input type="hidden" id="isbn_input" name="isbn_input">
                                <input type="submit" value="Add to cart">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var jsonString = "{{ jsonString }}";
        document.querySelector('head').innerHTML += '<title>Viewsus Bookum!</title>';
    </script>
    <script src="{% static 'bookstore/app_json_from_py.js' %}"></script>
</body>
</html>