<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Viewsus Bookum!</title>-->
    <!--{% load static %}-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'bookstore/style.css' %}">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--</head>-->
{% include "bookstore/head.html" %}
<body>
    <div class="container-fluid">
        {% include "bookstore/topbar.html" %}
        <script>
            var cartSize = "{{ cartSize }}";
        </script>
        <script src="{% static 'bookstore/cartsize.js' %}"></script>
        <hr>
        <div class="row ">

            <div class="col-8">
                <div class="row ">
                    <div class="col-2 offset-1 book_image_div">
                        <img id="book_image" src="http://www.placepuppy.net/1p/600/450" alt="Front Cover of book titled ">
                    </div>
                    <div class="col-6 offset-1 book_title_div">
                        <h1 id="book_title">Title here</h1>
                    </div>
                </div>

                <hr>

                <div class="row need_flex" id="author_price">
                    <div class="col align-self-start text-center more_book_info" id="author_div">
                        <label for="authors" class="more_info_label">Author(s): </label>
                        <p id="authors"></p>
                    </div>
                    <div class="col align-self-end text-center more_book_info" id="price_div">
                        <label for="price" class="more_info_label">Price: </label>
                        <p id="price"></p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col more_book_info">
                        <label for="description" class="more_info_label">Description:</label>
                        <p id="description">Description here</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="col" id="amount_div">
                            <p>Total amount here.</p>
                        </div>
                        <div class="col">
                            <form method="post" action="{% url 'bookstore:addToCart' %}" id="select_qty">
                                {% csrf_token %}
                                <div class="col quantity_form">
                                    <label for="quantity_dropdown">Quantity: </label>
                                    <select name="quantity" id="quantity_dropdown">
                                        <option value="1" selected="selected">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="col quantity_form">
                                    <input type="hidden" id="isbn_input" name="isbn_input">
                                    <input type="submit" value="Add to cart">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var jsonString = "{{ jsonString }}";
        document.querySelector('head').innerHTML += '<title>Viewsus Bookum!</title>';
    </script>
    <script src="{% static 'bookstore/home.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/viewbook.css' %}">
</body>
</html>