/* Custom CSS file. */



.row {
	outline: 1px solid red;
}

.col {
	outline: 1px solid black;
}

/*
* {
	outline: 1px solid red;
} */

.title_text {
	color: white;
	text-align: center;
}

.contents_box {
	background-color: white;
}

.one_book {
	margin: 0.5%;
	padding: 0.5%;
	outline: 1px solid blue;
}

.need_flex {
	display: flex;
	flex-wrap: wrap;
}

#home_div {
	max-height: 10%;
	max-width: 10%;
}