/* Custom CSS file. */

@import url("https://fonts.googleapis.com/css?family=Rammetto+One");
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

.row {
	/* outline: 1px solid red; */
}

/*
* {
	outline: 1px solid red;
} */

.main_box {
	align-content: center;
	background-color: steelblue;
	font-family: Rammetto One;
}

.title_text {
	color: white;
	text-align: center;
}

.contents_box {
	background-color: white;
}

.one_book {
	margin: 0.5%;
	padding: 0.5%;
	/* outline: 1px solid blue; */
}

.book_set .need_flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
